.brand {
    letter-spacing: 10px;
}

.form,
.result,
.center {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    height: calc(100vh - 84.63px - 70.6px - 34px - 24px);
    overflow-y: scroll;

}

/* CSS-Styling für die Scrollbar */
.result::-webkit-scrollbar {
    width: 4px;
}

.result::-webkit-scrollbar-thumb {
    background-color: #087114;
    border-radius: 100px;
}